[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "libs/FRUT"]
	path = libs/FRUT
	url = https://github.com/McMartin/FRUT.git
[submodule "libs/GPOsc"]
	path = libs/GPOsc
	url = https://github.com/WRodewald/GPOsc.git
